<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1 align="center">
        Hello! I am Azwad</h1>
    <h2 align="center">
        This is a Django Introduction project
    </h2>

    <table align="center">
        <th>
     <td>
         <h3><b> Information</b></h3>
         <p><b>Project Name:</b>  Intro </p>
         <p><b>App number:</b>  1 </p>
         <p><b>App Name:</b>  app1 </p>
         <p> <b>Templates:</b> Avalilable </p>
         <p> <b>Static files:</b> Avalilable</p>
        </td>   
    </th>
   <th>  
  <td> <img src="{% static 'images/picture.png' %}" alt ="'Django">
     </td>
     </th>
    </table>
</body>
</html>